main {
  padding-top: 72px;
}

.blank-display {
  display: inline-block;
  padding: 20px;
}

.blank-display span {
  display: block;
  text-align: center;
}

.blank-number-input {
  display: inline-block;
  /* if there are too many digits, 50px may not be enough width... */
  max-width: 50px;
}
