<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <main>
      <% include ./partials/messages.ejs %>
      There's not much here yet.
    </main>
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
